@import url(normalize.css);
/*root*/
body {
    background-color: #eee;
}

.root {
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    margin: auto;
}

.root__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
    max-width: 900px;
    min-width: 320px;
    width: 100%;
}

.hidden {
    display: none;
}

.day {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    margin: 0 0 8px;
    width: 100%;
    color: #a0a0a0;
}

.day:last-child {
    margin: 0;
}

.day__description-box {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.day__description-box_date {
    display: flex;
    margin: 13px 0;
    cursor: pointer;
}

.day__date {
    font-size: 18px;
    font-weight: normal;
    margin: 0 16px;
}
.day__arrow {
    transition: transform 0.2s ease 0s;
    margin: auto;
}

.day__number-documents {
    font-size: 18px;
    font-weight: normal;
    margin: 9px 0;
}

.debit-credit__arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease 0s;
}

.rotate {
    transform: rotate(90deg);
}

.debit-credit__description-box {
    border-bottom: 1px solid #eee;
    padding: 0 25px;
}

.debit-credit__description-box:last-of-type {
    border-bottom: none;
}

.debit-credit__description-box_name {
    display: flex;
    justify-content: space-between;
    padding: 0 13px;
}

.debit-credit__description-box_products {
    display: flex;
    margin: 0 17px;
    cursor: pointer;
}

.debit-credit__type {
    font-size: 16px;
    font-weight: normal;
    margin: 14px 0;
}
.debit-credit__sum {
    font-size: 16px;
    font-weight: normal;
    margin: 14px 23px;
}

.debit-credit__quantity-products {
    font-size: 16px;
    margin: 0 5px 21px;
}

.products-sections {
    margin: 20px 0;
}

.products-sections:disabled {
display: none;
}

.product {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 9px 76px 0 57px;

}

.product__description-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 133px);
}
.product__description-box_price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.product__count {
    font-size: 20px;
    color: #000;
    margin: 12px 0;
}

.product__total {
    font-size: 20px;
    margin: 12px 0;
    color: #000;
    align-self: flex-end;
}

.product__name {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2px 0;
    color: #000;
    white-space: nowrap;
}

.product__image {
    width: 66px;
    height: 66px;
    object-fit: contain;
    object-position: center;
    margin-right: 16px;
}

@media screen and (max-width: 768px) {
    .product {
        margin: 9px 10px 0;
    }

    .root__section {
        margin: 50px 25px;
    }
}

@media screen and (max-width: 515px) {
    .product__description-box {
        width: calc(100% - 80px);
    }

    .product__image {
        width: 44px;
        height: 44px;
    }

    .product__description-box {
        width: calc(100% - 60px);
    }
    .products-sections {
        padding: 0 0 0 20px;
    }

    .debit-credit__description-box_products {
        margin: 0 5px;
    }

   .day__number-documents {
        font-size: 16px;
    }

    .day__date {
        font-size: 16px;
        margin: 0 5px;
    }
    .debit-credit__sum {
        font-size: 14px;
        margin: 14px 0;
    }

    .debit-credit__description-box {
        padding: 0 15px;
    }

    .debit-credit__type, .debit-credit__quantity-products, .product__name  {
        font-size: 14px;
    }

    .product__count, .product__total  {
        font-size: 18px;
    }
}

@media screen and (max-width: 515px) {
    .debit-credit__description-box_name {
        padding: 0;
    }
    .day__date, .day__number-documents {
        font-size: 15px;
    }

    .debit-credit__type, .debit-credit__sum, .debit-credit__quantity-products, .product__name  {
        font-size: 14px;
    }

    .product__count, .product__total  {
        font-size: 16px;
    }
}